@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header a,
.logo{
  cursor: pointer;
  margin-right: auto;
}

li, a{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px 2%;
  background-color: #24252a;
  position: sticky;
  top: 0px;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
  color: #00889a ;
}

body{
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg,#2980b9, #8e44ad);
  background-attachment: fixed;
}
.center{
  margin: auto;
  width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1,
.center1 h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center img{
  padding: 20px 0;
}
.center form,
.center1 form{
  padding: 15px 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input,
.txt_field select{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #24252a;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label,
.txt_field select:focus ~ label,
.txt_field select:valid ~ label{
  top: -5px;
  color: #24252a;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before,
.txt_field select:focus ~ span::before,
.txt_field select:valid ~ span::before{
  width: 100%;
}
.submitBtn{
  width: 40%;
  height: 50px;
  border: 1px solid;
  background: #24252a;
  border-radius: 25px;
  font-size: 18px;
  color: #edf0f1;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin-left: 39.1%;
}
.resetBtn{
  width: 20%;
  height: 50px;
  border: 1px solid;
  background: #24252a;
  border-radius: 25px;
  font-size: 18px;
  color: #edf0f1;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
button{
  width: 20%;
  height: 50px;
  border: 1px solid;
  background: #24252a;
  border-radius: 25px;
  font-size: 18px;
  color: #edf0f1;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.resetBtn:hover, .submitBtn:hover, button:hover{
  background: linear-gradient(to right, #24252a, #303137);
  color: #00889a ;
  transition: .5s;
}
.buttons{
  margin: auto;
}
.center1{
  margin: auto;
  width: 80vmax;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
table{
  margin: auto;
  width: 75vmax;
  border: 1px solid;
  border-collapse: collapse;
}
th{
  border: 1px solid;
  font-size: large;
  height:10vh;
  
}
td{
  border: 1px solid;
  height:7vh;
  text-align: center;
  border-top: none;
  width: fit-content;
  padding-left: 25px;
  padding-right: 25px;
}
#tableBtn{
  width: max-content;
  height: 70%;
  border: 1px solid;
  border-radius: 15px;
  font-size: 15px;
  color: #24252a;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 5px;
}
#tableBtn:hover{
  background: #24252a;
  color: #ffffff ;
  transition: .5s;
}

/* Main Page */
.main-page{
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}
.btn-group{
  display: flex;
  justify-content: space-around; 
  margin-top: 80px; 
  margin-left: 100px; 
  margin-right: 100px;
}
.header-group{
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.header-group div img{
  width: 250px; 
  margin: 50px;
}
.header-group div h1{
  margin: 0;
}

/* Login Button */
.login-btn{
  margin-right: 10px; 
  margin-top: 10px;  
  background-color: #24252a;
  border: 2px #edf0f1 solid;
  padding: 10px; 
  border-radius: 15px;
}
.login-btn:hover{
  border: 2px #00889a solid;
  cursor: pointer;
  background: linear-gradient(to right, #24252a, #303137);
  transition: .5s;
  border-radius: 20px;
}